.header-bg{
  min-height: 50vh;
  background-image: url('https://thumbs.gfycat.com/LividUntidyAcouchi-max-1mb.gif');
  background-size: cover;
}

.parent-spill{
  min-height: 30vh;
  position: relative;
}

.spillage{
  position: absolute;
  bottom: 0;
  transform: translateY(17%);
}

.back{
  background-color: #2b4e73;
}

.cursive{
  font-family: 'Major Mono Display', monospace;
}

