.header-bg{
  min-height: 50vh;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/14742e20-ac3e-4580-b025-163d5b8c6575/dd79x7o-e69b51f9-5df9-4f13-bcae-397053ff3725.jpg/v1/fill/w_1600,h_800,q_75,strp/space_rose__stock__by_euderion_dd79x7o-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04MDAiLCJwYXRoIjoiXC9mXC8xNDc0MmUyMC1hYzNlLTQ1ODAtYjAyNS0xNjNkNWI4YzY1NzVcL2RkNzl4N28tZTY5YjUxZjktNWRmOS00ZjEzLWJjYWUtMzk3MDUzZmYzNzI1LmpwZyIsIndpZHRoIjoiPD0xNjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.KO31L9DylL-TU2ZDm7Ga79scJChvRCrNYudE7zBxyEk');
  background-size: cover;
}

.parent-spill{
  height: 30vh;
  position: relative;
}

.spillage{
  position: absolute;
  bottom: 0;
  transform: translateY(30%);
}